@import 'tailwindcss';

.loader-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.404); 
  z-index: 9999; 
}

.loader {
  width: 70px;
  height: 70px;
  border: 4px solid #ccc;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.page-title {
  color: rgba(0, 0, 0, 0.801);
  font-size: 27px;
  font-weight: bold;
}

.card-title {
  color: rgba(0, 0, 0, 0.438);
  font-size: 22px;
  font-weight: bold;
}
.login-page, .reg-page {
  min-height: 100vh;
  align-items: center;
}
.mail-link{
  color: hsl(240, 90%, 68%);

}
.mail-link:hover {
  text-decoration: underline;
  
}
button{
  cursor: pointer;
}

@keyframes slideRight {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideRight 1s ease-in-out forwards;
}

@keyframes expand {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1);
  }
}

.button-expand {
  animation: expand 1.5s ease-in-out infinite;
  display: inline-block;
  padding: 12px 24px;
  background-color: #2563eb;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.button-expand:hover {
  background-color: #071c57; /* Darker shade when hovering */
  cursor: pointer;
}
