@import 'tailwindcss';

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}


.sidebar {
    background-color: rgb(7, 41, 19);
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
    margin-right: 1vh;
    min-height: 100%;
    padding: 10px;
}
.sidebar-header {
    font-size: 35px;
    color: white;
}

/* .content {
    width: 100%;
    height: 100%;
} */

.header {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 1vh;
    height: 10vh;
    padding: 5px;
}

.body {
    background-color: whitesmoke;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    min-height: 100vh;
    width: 100%;
    padding: 18px;
}
.menu-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    
}
.menu {
    margin-top: 20px;
    padding: 0 7px;
}
.menu-item i, a {
    color: rgba(255, 255, 255, 0.678);
    text-decoration: none;
    font-size: 22px;
    margin: 20px 15px;
    cursor: pointer; 
}

.active-menu-item {
    color: white;
    background-color: rgba(7, 7, 7, 0.514);
    border-radius: 5px;
}
.header-action-icon {
    font-size: 28px;
    color: black;
    cursor: pointer;
    padding-left: 10px;
}
.anchor {
    margin-left: 10px;
    color: rgb(2, 83, 83);
    text-decoration: underline;
}
.app-name{
    font: bold;
    font-family:'Ariagl Narrow Bold', 'sans-serif' ;
    position: absolute;
    transform: translateX(-50%);
}

@media  screen and (max-width : 760px) {
    .menu {
        padding: 0;
    }
    .menu-item {
        margin: 0 5px;
    }
    .app-name{
        padding: 2px;
        position: initial;
        transform: translateX(0);
        margin-left: 3px;
    }
    
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-right: 0;
    padding: 10px;
  }
}
